@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
    --c-dark: #212529;
    --c-brand: #189f92;
    --c-brand-light: #72c6be;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "Montserrat", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--c-dark);
}

.bg-primary {
    background-color: #EAF5F4!important;
}



a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(/img/background.svg);
    background-position: center;
    background-size: cover;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 24px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-primary {
    background-color: #189F92 !important;
    border-color: #189F92;
}

.btn-primary:hover {
    background-color: var(--c-brand-light) !important;
    border-color: var(--c-brand-light) !important;
    color: white;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

.btn-edit {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-edit:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

.btn-delete {
    background-color: #f03232;
    border-color: #f03232;
    color: white;
}

.btn-delete:hover {
    background-color: #ff5f5f;
    border-color: #ff5f5f;
    color: white;
}

.btn-link {
    color: #189f92;
}

.btn-link:hover {
    color: #72c6be;
}

html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup {
    max-width: 330px;
    padding: 1rem;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-border {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 300px !important;
}

.nav-link:active {
    color: #189f92; /* Mengubah warna menjadi hijau */
}
/* Mengubah warna saat tautan dipilih (hover) */
.nav-link:hover {
    color: #189f92; /* Mengubah warna menjadi hijau */
}

.card-cards {
    margin-top: 5.5rem; /* Atur margin-top sesuai kebutuhan */
    border: 1px solid #72c6be; /* Ubah properti border sesuai kebutuhan */
    border-radius: 10px; /* Atur border-radius sesuai kebutuhan */
}

.img-container {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 5px solid #72c6be;
    border-radius: 50%;
    box-shadow: 0 2px 25px #189f92;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container img {
    width: 100%;
    max-width: 100%;
    transform: scale(1.1);
}

.info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 12px;
    margin-top: -35px;
}

.infor {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.1em;
}

.full-name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #189f92;
}

.list-group-item {
    border: none;
  }

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: transparent;
    border-bottom: none;
}

.card-title {
    color: #333;
}

.custom-background {
    background-image: url('/img/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.green-text {
    color: var(--c-brand) !important;
    text-decoration: none !important;
}
  
.green-text:hover {
    color: var(--c-brand-light) !important;
    text-decoration: none !important;
}

.color-button {
    color: var(--c-brand);
}
  
.color-button:hover {
    color: var(--c-brand-light);
}

.dropdown-item:active, .dropdown-item:focus {
    background-color: #f5f5f5; /* Adjust this color as needed for a faded gray look */
    color: #000; /* Ensure text color remains readable */
}

/* Optional: Ensure the background color persists while the item is clicked */
.dropdown-item:active:focus {
    background-color: #f5f5f5;
    color: #000;
}

.navbar {
    z-index: 1030; /* Ensure the navbar stays above other elements */
}
  
.sticky-sidebar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 80px; /* Adjust this value based on your navbar height */
    z-index: 1020; /* Ensure it's below the navbar but above other content */
}

.no-underline {
    text-decoration: none !important;
}
  
.no-underline:hover {
    text-decoration: none !important;
}
  
.btn-link .fa-chevron-down {
    transition: transform 0.3s ease-in-out;;
    -webkit-transition: transform 0.3s ;
    -moz-transition: transform 0.3s ;
    -ms-transition: transform 0.3s ;
    -o-transition: transform 0.3s ;
}